<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <!-- <link rel="stylesheet" href="../style.css"> -->

  <title>DashBoard</title>
  
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">	
</head>
<app-sidenav></app-sidenav>
<body>
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h3> Click On the Side To Complete the Tasks</h3>
      <img class="img-fluid" width="400px" src="/assets/img/complete.svg" alt="home-image">
    </div>
  </section>
</body>
</html>