
  
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<div class="bootstrap-wrapper">
    <div class="container mt">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img class="img-fluid" width="400px" src="/assets/img/img/open.png" alt="home-image">
                    <h1 class="text-center">Welcome To Insureity Portal!</h1>
                    <a routerLink="/login" mat-raised-button color="accent">Get Started!</a>
                </div>                               
            </div>
        </div>
    </div>
</div>