<div class="bootstrap-wrapper">
    <div class="container mt">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="container text-center">
                    <img class="img-fluid" width="100px" src="/assets/img/img/lock1.png" alt="lock-image">
                </div>
     <mat-card> 
         <div class="container text-center">
    <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
        <h1 class="text-center">Login Here !</h1>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>UserName</mat-label>
        <input type="text" name="userName" formControlName="userName" required placeholder="Enter User Id" matInput/>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Password</mat-label>
            <input type="password" name='password' formControlName='password' required placeholder="Enter Password" matInput>
        </mat-form-field>
        <div class="container text-center">
        <button [disabled]='loginForm.invalid' mat-raised-button color="primary" type="submit">Log In</button>
           <a routerLink="../home" mat-stroked-button color="primary">Back</a>
        </div>
    </form>
</div>
</mat-card>
</div>
</div>
</div>
</div>

    <!-- <div *ngIf='errorMessage' class="error">
        {{errorMessage}}
    </div> -->
